@import './../../styles/variables';
@import './../../styles/mixins';

.link__pokemon__card {
  text-decoration: none;
  color: inherit;
}

.pokemon__title {
  @include flex(center, space-around);
  border-bottom: 1px solid  $colorLightMidtoneBorder;
  padding: 20px 0;
  background-color: #ffebee;
  .pokemon__name {
    color: $colorRed;
  }
  .pokemon__id {
    color: $colorGeekBlue;
    font-weight: bold;
  }
}

.pokemon__img {
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: auto;
}

.pokemon__types {
  @include flex(center, center);
  border-top: 1px solid  $colorLightMidtoneBorder;
  padding-top: 20px;
  .type {
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-weight: bold;
    &.poison {
      border: 1px solid #ffadd2;
      color: $colorMagenta;
      background: #fff0f6;
      &:hover {
        background: $colorMagenta;
        color: $colorLight;
      }
    }
    &.grass {
      border: 1px solid #b7eb8f;
      color: $colorGreen;
      background: #f6ffed;
      &:hover {
        background: $colorGreen;
        color: $colorLight;
      }
    }
    &.fire {
      border: 1px solid #ffbb96;
      color: $colorVolcano;
      background: #fff2e8;
      &:hover {
        background: $colorVolcano;
        color: $colorLight;
      }
    }
    &.flying {
      border: 1px solid  #d3adf7;
      color: $colorPurple;
      background: #f9f0ff;
      &:hover {
        background: $colorPurple;
        color: $colorLight;
      }
    }
    &.water {
      border: 1px solid #87e8de;
      color: $colorCyan;
      background: #e6fffb;
      &:hover {
        background: $colorCyan;
        color: $colorLight;
      }
    }
    &.bug {
      border: 1px solid #ffd591;
      color: $colorOrange;
      background: #fff7e6;
      &:hover {
        background: $colorOrange;
        color: $colorLight;
      }
    }
    &.normal {
      border: 1px solid #adc6ff;
      color: $colorGeekBlue;
      background: #f0f5ff;
      &:hover {
        background: $colorGeekBlue;
        color: $colorLight;
      }
    }
    &.electric {
      border: 1px solid #ffe58f;
      color: $colorGold;
      background: #fffbe6;
      &:hover {
        background:$colorGold;
        color: $colorLight;
      }
    }
    &.ground {
      border: 1px solid #ffa39e;
      color: $colorRed;
      background: #fff1f0;
      &:hover {
        background: $colorRed;
        color: $colorLight;
      }
    }
    &.fairy {
      border: 1px solid #eaff8f;
      color: $colorLime;
      background: #fcffe6;
      &:hover {
        background:$colorLime;
        color: $colorLight;
      }
    }
  }
}
