// Colors

$colorLight: #ffffff;
$colorLightMidtone: #f0f3f6;
$colorLightMidtoneBorder: #d3d3d3;
$colorMidtone: #777777;
$colorDarkMidtone: #4a4a4a;
$colorDark: #1a1a1a;

$colorMagenta: #eb2f96;
$colorRed: #f5222d;
$colorVolcano: #fa541c;
$colorOrange: #fa8c16;
$colorGold: #faad14;
$colorLime: #a0d911;
$colorGreen: #52c41a;
$colorCyan: #13c2c2;
$colorGeekBlue:  #2f54eb;
$colorPurple: #722ed1;  

// Fonts

$fontOpenSans: 'Open Sans', sans-serif;
$fontPokemon: 'Pokemon Solid';
$fontKalam: 'Kalam', cursive;

// Breakpoints
$large-movil: '(min-width: 550px) and (max-width: 809px)';
$tablet: '(min-width: 810px) and (max-width: 1063px)';
$desktop: '(min-width: 1064px)';
