@import './../../styles/variables';
@import './../../styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontOpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body__container {
  @include flex(center, center);
  background-color: $colorLightMidtone;
  .root__container {
    margin-top: 100px;
  }
}

.root__container {
  width: 100%;
  .app__container {
    display: flex;
    flex-direction: column;
    text-align: center; 
    min-height: 100vh;
  }
}


.main__container {
  flex: 1;
  padding: 0 20px;
}

.not__results {
  font-size: 20px;
  color: $colorDark;
  .emoticon {
    font-size: 20px;
  }
}

