* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.body__container {
  background-color: #f0f3f6;
  display: flex;
  align-items: center;
  justify-content: center; }
  .body__container .root__container {
    margin-top: 100px; }

.root__container {
  width: 100%; }

.app__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center; }

.main__container {
  flex: 1;
  padding: 0 20px; }

.not__results {
  font-size: 20px;
  color: #1a1a1a; }

.emoticon {
  font-size: 20px; }
