@import './../../styles/variables';
@import './../../styles/mixins';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontOpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body__container {
  background-color: $colorLightMidtone;
  @include flex(center, center);
  .root__container {
    margin-top: 80px;
  }
}
.root__container {
  width: 100%;
}
.app__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center; 
}

.main__container {
  flex: 1;
  padding: 0 20px;
}