@font-face {
  font-family: "Pokemon Solid";
  src: url("../../fonts/PokemonSolidNormal.eot");
  src: url("../../fonts/PokemonSolidNormal.eot?#iefix") format("embedded-opentype"), url("../../fonts/PokemonSolidNormal.woff2") format("woff2"), url("../../fonts/PokemonSolidNormal.woff") format("woff"), url("../../fonts/PokemonSolidNormal.ttf") format("truetype"), url("../../fonts/PokemonSolidNormal.svg#PokemonSolidNormal") format("svg");
  font-weight: normal;
  font-style: normal; }

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100px;
  width: 100%;
  background-color: #1a1a1a;
  padding: 0 20px; }
  .header__container .header__title {
    font-family: "Pokemon Solid";
    text-align: center;
    margin-right: 15px;
    font-size: 35px;
    letter-spacing: 5px;
    transform: rotate(-4deg);
    color: #ffffff; }
    @media (min-width: 550px) and (max-width: 809px) {
      .header__container .header__title {
        font-size: 40px; } }
    @media (min-width: 810px) and (max-width: 1063px) {
      .header__container .header__title {
        font-size: 50px; } }
    @media (min-width: 1064px) {
      .header__container .header__title {
        font-size: 50px; } }

.pokeball {
  width: 40px;
  margin-left: 15px;
  animation: loading 10s linear infinite; }
  @media (min-width: 550px) and (max-width: 809px) {
    .pokeball {
      width: 50px; } }
  @media (min-width: 810px) and (max-width: 1063px) {
    .pokeball {
      width: 60px; } }
  @media (min-width: 1064px) {
    .pokeball {
      width: 60px; } }

@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
